 .a{
   background: linear-gradient(158deg, rgba(0,0,0,1) 0%, rgba(4,68,80,1) 47%, rgba(0,212,255,1) 100%); 
 
  color="white";
 }
.name{
  background: linear-gradient(158deg, rgba(0,0,0,1) 0%, rgba(4,68,80,1) 47%, rgba(0,212,255,1) 100%); 
  font-size="5em";
  color="white";
}
.sharma{
    background-color: lightgrey;
  width: 30%;
  border: 10px solid green;
  padding: 50px;

    display:inline-block;
}
.main{
  background-color: lightgrey;
  width: 70%;
  border: 10px solid green;
  padding: 50px;
    display:inline-block;
}
.icon{
    cursor: pointer;
}
.icon:hover{
  display:inline;
    transition: all .2s ease;
transform: scale(
    1.2
);
}
  .v{
   font-family: "Montserrat", monospace;
    font-size="100vw";
    color="white";
  }
